[user]
	name = Sean Aubin
	email = <insert-email>

[alias]
	wdiff = diff --color-words
	gp = push -u origin HEAD
	co = checkout
	ds = diff --staged
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	ls = ls-files
	sh = show --stat
	showtrackedignored = ls-files -i --exclude-standard
	st = status -sb

[color]
	branch = auto
	diff = auto
	interactive = auto
	pager = true
	status = auto
	ui = auto

[color "branch"]
	current = green bold
	local = green
	remote = red bold

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red

[core]
	autocrlf = input
	editor = micro
	whitespace = cr-at-eol

[branch]
	autosetuprebase = always

[pull]
  	rebase = true

[diff "jupyternotebook"]
	command = git-nbdiffdriver diff

[alias]
	wdiff = diff --color-words
	co = checkout
	ds = diff --staged
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	ls = ls-files
	sh = show --stat
	showtrackedignored = ls-files -i --exclude-standard
	st = status -sb
	gb = checkout -b $1

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[cola]
	spellcheck = false
	icontheme = dark
	theme = flat-dark-red
